#
#  Touchscreen driver configuration
#
config  TOUCHSCREEN_GT9XX
       tristate  "gt9xxnew touchscreen driver"      
       depends on INPUT && I2C
       default m
       help
         gt9xx touchscreen driver    
         
