#
# embedded vision engine device configuration
#
config SUNXI_AIO
	tristate "AIO debugfs driver"
	default m
	---help---
	This is the driver for allwinner platform audio input/output debugfs module.
	To compile this driver as a module, choose M here: the
	module will be called sunxi_aio.
