#
#  Touchscreen ft6x driver configuration
#

config TOUCHSCREEN_FT6X_TS
       tristate  "ft6x touchscreen driver"
       default m
       depends on INPUT && I2C
       help
         ft6x touchscreen driver


config FT6X_MULTITOUCH_TS
bool  "support ft6x touchscreen to multtouch"
	depends on TOUCHSCREEN_FT6X_TS
	default n
	help
	  Say Y here if you want to open multtouch.

	  If unsure, say N.
